<div id="top_map">
<table width="100%" cellspacing="5" style="margin: 5px 0px;"><tbody><tr>
	<td width="30%"><b>ATMapper</b><br/> ATMをマップする！</td>
	<td>　</td>
	<td width="20%"><input type="text" class="form-control" placeholder="ATMをキーワードで検索する"></td>
	<td width="50px"><button type="button" class="btn btn-primary">検索</button></td>
</tr></tbody></table>
<%= image_tag 'gm.png' %><br clear/>
</div>
<div id="top_map_middle">
●●●●●●●●●●●
</div>
<div id="top_map_buttom">
<b>ATMapperとは？</b><br/>
全国に設置されているATM（現金自動預け払い機）を記録するプロジェクトです。旅行や、遠出した時案外ATMが見つからないものであり、コンビニを見つけて走ったらATMが設置されていなかったなど、別になくても困らないけど、あるとちょっと便利なインターネットサービスを目指しています。なお、本サービスはATMを運営している機関などとは一切関係ありません。みなさんが、普段利用しているATM情報を登録していただければ、きっと誰かの役に立つはずです！<br/><br/>
</div>

<hr>
ATMapperとは？<br/>
ATMをマップする<br/>
ATMを探す<br/>
利用規約<br/>
お知らせ<br/>
運営ブログ<br/>

