<div class="top_map_middle">

<div id="top_map_buttom">
	<script src="https://maps.googleapis.com/maps/api/js?&sensor=false"></script>
	<div id="map-canvas" style="width:60%;min-width: 350px;height:250px;float:left;"></div>
	<div style="width:35%;min-width:350px;float:left;margin: 0 0 0 10px;">
		<a clss="eval-js" href="javascritp:void(0);" onclick="toast()">トースト起動</a>
		<b>ATMapとはこんなサービスです</b><br/>
			１.ATMの設置場所をキーワードで探す<br/>
			２.自身の近くにあるATMを地図上に登録する<br/>
			３.日本全国に設置されているさまざまな銀行のATMを見る<br/><br/>
			ユーザを登録しなくても、ATMを登録可能です。登録すると登録したATMを一覧表示できるなど、より便利に利用することができます。
	</div>
</div>
<br clear="both"/>
<br/>
<div class="info_buttom_block">
	<div style="margin:0 0 10px 0;padding:10px;border:1px solid lightgray;border-radius: 5px;-webkit-border-radius: 5px;-moz-border-radius: 5px;">
		<h4>新着情報</h4>
		<b># 2015/08/23（土）　Webサイト全体の通信を暗号化しました</b><br/>
		メールアドレスなど個人情報を伴うため、通信を暗号化しました。

<br/>
<br/>
		<b># 2015/08/30（日）　メンテナンスのお知らせ</b><br/>
		以下の日程でメンテナスを実施します。<br/>
		2015/08/30 AM1:00 〜　AM10:00
<br/>
<br/>
<a href="http://atmap.hatenadiary.jp/" target="blank">過去のお知らせはこちらから</a>

	</div>
</div>

<div class="info_buttom_block">
	<div id="act_log" style="margin:0 0 10px 0;padding:10px;border:1px solid lightgray;border-radius: 5px;-webkit-border-radius: 5px;-moz-border-radius: 5px;">

	</div>
</div>

</div>
<br clear="both" />

<footer style="padding:10px;">
ATMapとは？　<a href="/group.html" title="運営団体" target="blank">運営団体</a>　<a href="/info.html" title="利用規約とプライバシー" target="blank">利用規約とプライバシー</a>　</footer>
<script type="text/javascript">
function loadmap(lat,lgn,marker_name) {
var before_title ="";
//キャンパスの要素を取得する
var canvas = document.getElementById( "map-canvas" );
var crossSize = 19;
//中心の位置座標を指定する
var latlng = new google.maps.LatLng( lat , lgn );
var map;

//地図のオプションを設定する
var mapOptions = {
	zoom: 4 ,
	center: latlng,
	scrollwheel: false,
	mapTypeControlOptions: { mapTypeIds: ['sample', google.maps.MapTypeId.ROADMAP] }
};
	map = new google.maps.Map( canvas , mapOptions );
	markers = new google.maps.Marker({
	position: new google.maps.LatLng(
		lat,
		lgn),
		map: map,
		icon: marker_name
	});
}
// マーカー情報取得
$.ajax({
  type: 'get',
  url: '/welcome/data',
  headers:{'X-CSRF-Token': $('#authenticity_token').val()},
  contentType: 'application/json',
  dataType: 'json',
  data:null,
  success: function(json){
  	    for(i=0;i<json.length;i++){
  	    	var marker_name = "";
  	    	if (json[i]['kind'] > 0 && json[i]['kind'] < 10 || json[i]['kind'] == 35 ) {
  	    		marker_name = "/assets/"+ json[i]['kind'] +".png";
  	    	} else {
  	    		marker_name = "/assets/chihou.png";
  	    	}
  	    	loadmap(json[i]['lat'], json[i]['lgn'], marker_name);
	 	}
  },error: function(json){
    alert("地図の読み込みに失敗しました。\nしばらくお待ちいただいた後、更新してください。")
  }
});
ajaxrequest(null,"get","/play/allinfo",
	function(j_data){

		value = "<b>ATM登録履歴（最新から10件表示）</b><br/>";
		for (m=0;m<j_data["map"].length;m++) {
			var atmname = j_data["map"][m]["mapname"];
			if (atmname.length > 10) {
				atmname = 	j_data["map"][m]["mapname"].slice(0,10) + "...";
			}
			if (j_data["map"][m]["kind"] > 0 && j_data["map"][m]["kind"] < 10 || j_data["map"][m]["kind"] == 35 ) {
				value += '<h5>'
				 + '<img src="/assets/' + j_data["map"][m]["kind"] + '.png" height="20" width="20" />'
				 + '<a href="' + '/map/' + j_data["map"][m]["id"] + '">' + atmname + '</a>(<span class="timeago" title="'
				 + j_data["map"][m]["created_at"] + '">投稿時間</span>)</h5>';
			} else {
				value += '<h5>'
				 + '<img src="/assets/chihou.png" height="20" width="20" />'
				 + '<a href="' + '/map/' + j_data["map"][m]["id"] + '">' + atmname + '</a>(<span class="timeago" title="'
				 + j_data["map"][m]["created_at"] + '">投稿時間</span>)</h5>';
			}
		}

		value += "<br/><b>クリップ登録履歴（最新から10件表示）</b><br/>";
		for (c=0;c<j_data["clip"].length;c++) {
			var str = formtime(j_data["clip"][c]["created_at"]);
			value += '<h5>' + j_data["clip"][c]["mapname"] + '(<span class="timeago" title="' + j_data["clip"][c]["created_at"] + '">投稿時間</span>)</h5>';
		}

		value += "<br/><b>コメント登録履歴（最新から10件表示）</b><br/>";
		for (b=0;b<j_data["comment"].length;b++) {
			comm = j_data["comment"][b]["value"];
			if (comm.length > 10) {
				comm = 	j_data["comment"][b]["value"].slice(0,10) + "...";
			}
			value += '<h5>'
			 + '<a href="' + '/map/' + j_data["comment"][b]["mapid"] + '">' + comm + '</a>(<span class="timeago" title="' + j_data["comment"][b]["created_at"] 
			 + '"></span>)</h5>';
		}
		$("#act_log").html(value);
		formatchange();
	},
	function(j_data){
	}
);
function ajaxrequest(data,type,url,successcb,errorcb){
    $.ajax({
      type: type,
      url: url,
      headers:{'X-CSRF-Token': $('#authenticity_token').val()},
      contentType: 'application/json',
      dataType: 'json',
      data:data,
      success: function(j_data){
        successcb(j_data);
      },
      error: function(j_data){
          errorcb(j_data);
      }
    });
}
// Japanese setting for Timeago
$.timeago.settings.strings = {
    prefixAgo: "",
    prefixFromNow: "今から",
    suffixAgo: "",
    suffixFromNow: "後",
    seconds: "1 分未満",
    minute: "1分前",
    minutes: "%d分前",
    hour: "1時間前",
    hours: "%d時間前",
    day: "1日前",
    days: "%d日前",
    month: "1月前",
    months: "%d月前",
    year: "1年前",
    years: "%d年前",
    wordSeparator: ""
};
function formatchange() {
$('span.timeago').timeago();
};
function formtime (tt) {
	var date = new Date(tt);
	var year = date.getFullYear();
	var month = date.getMonth() + 1;
	var day = date.getDate();
	var hh = date.getHours();
	var mm = date.getMinutes();
	var ss = date.getSeconds();
	if ( month < 10 ) {
	　　month = '0' + month;
	}
	if ( day < 10 ) {
	　　day = '0' + day;
	}
	return year + '/' + month + '/' + day + " " + hh + ':' + mm + ':' + ss;
}
</script>