<div class="top_map_middle">

<div id="top_map_buttom">

<ul class="nav nav-tabs">
<li class="active"><a href="#tab1" data-toggle="tab">マップ</a></li>
<li><a href="#tab2" data-toggle="tab">ATMapとは？</a></li>
<li><a href="#tab3" data-toggle="tab">メニュー</a></li>
</ul>
<div id="myTabContent" class="tab-content">
<div class="tab-pane fade in active" id="tab1">
	<script src="https://maps.googleapis.com/maps/api/js?&sensor=false"></script>
	<div id="map-canvas" style="width:100%;min-width: 300px;min-height:300px;height:40%;"></div>
</div>
<div class="tab-pane fade" id="tab2">
	<div id="map-canvas" style="width:100%;min-width: 300px;min-height:300px;height:40%;">
		<b>ATMを登録・検索するインターネットサービスです</b><br/>
		出先で、お金をおろそうとATMを探してもなかなか見つからない。なんて経験はありませんか？
		より少ないブラウザ操作で、みなさまをATMまで誘導できることを目指しています。<br/><br/>
		　<b>できること</b><br/>
		　①自身の近くにあるATMを探す<br/>
		　→「ATMを探す」ボタン押！<br/>
		　②キーワード（建物名など）から、近くにあるATMを探す<br/>
		　→「キーワード検索」→「検索」ボタン押！<br/>
		　③ATMを地図上に登録する<br/>
		　→①②で場所を選んで登録！
	</div>
</div>
<div class="tab-pane fade" id="tab3">
	<div id="map-canvas" style="width:100%;min-width: 300px;min-height:300px;height:40%;">
		<table style="margin:0 auto;"><tbody><tr>
  			<td class="lanche_td" ><img src="/assets/tv.png" onclick="window.open('/myself.html')" /><br clear="both"/><br/>概要</td>
  			<td class="lanche_td" ><img src="/assets/info.png" onclick="window.open('http://atmap.hatenadiary.jp/')" /><br clear="both"/><br/>お知らせ</td>
  			<td class="lanche_td" ><img src="/assets/calendar.png" onclick="window.open('https://www.google.com/calendar/embed?src=atmapper%40gmail.com&ctz=Asia/Tokyo')" ><br clear="both"/><br/>メンテ</td>
  			<td class="lanche_td" ><img src="/assets/id.png" onclick="document.location.href='/play'"><br clear="both"/><br/>myページ</td>
  		</tr><tr>
  			<td class="lanche_td" ><img src="/assets/man-user.png" onclick="window.open('http://atmapper.hatenablog.com/')"><br clear="both"/><br/>ブログ</td>
  			<td class="lanche_td" ><img src="/assets/twitter.png" onclick="window.open('https://twitter.com/ATMapper')") ><br clear="both"/><br/>twitter</td>
  			<td class="lanche_td" ><img src="/assets/closed-lock.png" onclick="window.open('/info.html')") /><br clear="both"/><br/>利用規約</td>
  			<td class="lanche_td"><%= image_tag("gear.png") %><br clear="both"/><br/>削除</td>
  			<td></td>
  			<td></td>
  		</tr></tbody></table>
	</div>
</div>
</div>
	<br clear="both"/>
	<br clear="both"/>
	<div class="info_buttom_block">
		<div style="line-height:40px;font-size:20px;border-left:8px LightGreen solid;margin:5px 5px 5px 10px;padding:5px;">
			最新ニュース
		</div>
		<b>　# 2015/09/01（火）　デザインを変更しました</b>
		<p style="padding:0 10px 0 10px;">
		トップページのデザインを一新して、表示する情報を半分以下に削りました。<br/>
		<a href="http://atmap.hatenadiary.jp/entry/2015/09/01/003653" target="blank">→詳細はこちら</a>
		</p>
	</div>
	<br/>
	<div class="info_buttom_block">
		<div style="line-height:40px;font-size:20px;border-left:8px Orange solid;margin:5px 5px 5px 10px;padding:5px;">
			ATMapとは？
		</div>
		<b>　ユーザ参加型のATMマッピング、検索サービスです</b>
		<p style="padding:0 10px 0 10px;">
		・[ATM検索ボタン]一発で、近くにあるATMを探す<br/>
		・キーワードを入力して、ATMを探す<br/>
		・日本全国に設置されている銀行ATMを見る<br/>
		<a href="#" >→ATMapとは？さらに見る</a>
		</p>
	</div>
</div>
<br clear="both"/>
<br clear="both"/>
</div>
<br clear="both" />

<footer style="padding:10px;">
ATMapとは？　<a href="/group.html" title="運営団体" target="blank">運営団体</a>　<a href="/info.html" title="利用規約とプライバシー" target="blank">利用規約とプライバシー</a>　</footer>
<script type="text/javascript">
var markers = new Array();
var map;
function loadmap(lat,lgn) {
var before_title ="";
//キャンパスの要素を取得する
var canvas = document.getElementById( "map-canvas" );
var crossSize = 19;
//中心の位置座標を指定する
var latlng = new google.maps.LatLng( lat , lgn );

//地図のオプションを設定する
var mapOptions = {
	zoom: 4 ,
	center: latlng,
	scrollwheel: false,
	mapTypeControlOptions: { mapTypeIds: ['sample', google.maps.MapTypeId.ROADMAP] }
};
map = new google.maps.Map( canvas , mapOptions );
}
// マーカー情報取得
$.ajax({
  type: 'get',
  url: '/welcome/data',
  headers:{'X-CSRF-Token': $('#authenticity_token').val()},
  contentType: 'application/json',
  dataType: 'json',
  data:null,
  success: function(json){
		loadmap(37.315567502511044, 139.658203125);
  	    for(i=0;i<json.length;i++){
  	    	var marker_name = "";
  	    	if (json[i]['kind'] > 0 && json[i]['kind'] < 51) {
  	    		marker_name = "/assets/"+ json[i]['kind'] +".png";
  	    	} else {
  	    		marker_name = "/assets/chihou.png";
  	    	}
			marker = new google.maps.Marker({
				position: new google.maps.LatLng(
					json[i]['lat'],
					json[i]['lgn']),
					map: map,
					icon: marker_name
			});
  	    	markers[i] = marker;
	 	}
  },error: function(json){
    alert("地図の読み込みに失敗しました。\nしばらくお待ちいただいた後、更新してください。")
  }
});
function ajaxrequest(data,type,url,successcb,errorcb){
    $.ajax({
      type: type,
      url: url,
      headers:{'X-CSRF-Token': $('#authenticity_token').val()},
      contentType: 'application/json',
      dataType: 'json',
      data:data,
      success: function(j_data){
        successcb(j_data);
      },
      error: function(j_data){
          errorcb(j_data);
      }
    });
}
// Japanese setting for Timeago
$.timeago.settings.strings = {
    prefixAgo: "",
    prefixFromNow: "今から",
    suffixAgo: "",
    suffixFromNow: "後",
    seconds: "1 分未満",
    minute: "1分前",
    minutes: "%d分前",
    hour: "1時間前",
    hours: "%d時間前",
    day: "1日前",
    days: "%d日前",
    month: "1月前",
    months: "%d月前",
    year: "1年前",
    years: "%d年前",
    wordSeparator: ""
};
function formatchange() {
$('span.timeago').timeago();
};
function formtime (tt) {
	var date = new Date(tt);
	var year = date.getFullYear();
	var month = date.getMonth() + 1;
	var day = date.getDate();
	var hh = date.getHours();
	var mm = date.getMinutes();
	var ss = date.getSeconds();
	if ( month < 10 ) {
	　　month = '0' + month;
	}
	if ( day < 10 ) {
	　　day = '0' + day;
	}
	return year + '/' + month + '/' + day + " " + hh + ':' + mm + ':' + ss;
}
</script>