<div id="top_map_middle">
<table width="100%" cellspacing="5" style="margin: 5px 0px;"><tbody><tr>
	<td width="30%"><b>ATMapper</b><br/> ATMを検索する！</td>
</tr></tbody></table>
<br/>
おまかせ検索（現在地を取得して一番近いATMを表示）<br/>
	<button type="button" class="btn btn-primary">現在地を取得して検索</button>

<br/>
<br/>
キーワード検索（駅名、建物名などを入力）<br/>
	<div class="col-xs-4"><input type="text" class="form-control" size="50" placeholder="ATMをキーワードで検索する"></div>
	<button type="button" class="btn btn-primary">検索</button>

<hr>
ATMapperとは？<br/>
ATMをマップする<br/>
ATMを探す<br/>
利用規約<br/>
お知らせ<br/>
運営ブログ<br/>

</div>