/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

a:hover {
}
body, header, footer {
 	margin:0;
 	padding:0;
}
#top_map {
	margin:10px auto 0 auto;
	width:98%;
	overflow: hidden;
}
.top_map_block {
	float:left;
	min-width: 400px;
	margin: 10px 10px 0 0;
	width:60%;
	line-height: 20px;
}
.info_block {
	float:left;
	width: 250px;
	height:250px;
	margin: 5px;
	padding: 5px;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
}
.top_map_sub {
	float:left;
	min-width: 300px;
	margin: 10px 10px 0 0;
	width:30%;
	line-height: 20px;
}
#layout_head {
  margin:0 auto;
  width:98%;
}
#top_map_middle {
  margin:0 auto;
  width:98%;
}
.top_map_middle_block {
	padding:10px;
	margin:0 auto;
}
.top_map_buttom_block {
  padding: 0 10px 10px 10px;
  margin:0 auto;
}

#top_map_buttom {
	padding:0 10px;
}
.info_buttom_block {
  margin:0 0 0 10px;
  width: 48%;
  min-width: 300px;
  float:left;
}
#trigger_id{
  background: none repeat scroll 0 0 #FFFFFF;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.7);
  display: none;
  padding: 20px;
  width: 50%;
  min-width: 350px;
 }
#loginbtn{
  background: none repeat scroll 0 0 #FFFFFF;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.7);
  display: none;
  padding: 20px;
  width: 50%;
  min-width: 350px;
 }
#lanche{
  background: none repeat scroll 0 0 #FFFFFF;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.7);
  display: none;
  padding: 20px;
  width: 50%;
  min-width: 350px;
 }
#kind_lanche{
  background: none repeat scroll 0 0 #FFFFFF;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.7);
  display: none;
  padding: 20px;
  width: 80%;
  min-width: 350px;
 }
 #lean_overlay {
    position: fixed;
    z-index:100;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    background: #000;
    display: none;
}
.lanche_td {
  width:150px;
  padding:10px;
  text-align:center;
  border:1px solid #fff;
}
